/* Police Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Police Relaway */
@font-face{
    font-family: "Relaway";
    src: url('../Font-Relaway/Raleway-VariableFont_wght.woff');
    src: url('../Font-Relaway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('../Font-Relaway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#global{
    border-right: 1px solid black;
    background-color: #782221;
    width: 1160px;
    height: 850px;
}

#section1{
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: aliceblue;  
}

figure{
    width: 110px;
    height: 110px;
}
#image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70%;
    box-shadow: 0 0 5px #d8dad2;
}
#image1:hover{
    cursor: zoom-in;
}
#global #section1 h3{
    position: absolute;
    bottom: 55px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#global #section1 h4{
    position: absolute;
    bottom: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#contacts{
    height: 18%;
    width: 100%;
    background-color: #2c1d27;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Relaway", serif;
    font-style: italic; 
}
#adresse a, #email a, #num-telephone a{
    color: aliceblue;
}
#adresse:hover, #email:hover, #num-telephone:hover{
    text-decoration: underline;
}
#adresse{
    width: 120px;
    position: absolute;
    left: 25px;
}
#num-telephone{
    position: absolute;
    right: 25px;
}

/* Divers */
#section2{
    height: 62%;
    width: 324px;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}
#divers1{
    width: 95%;
    height: 5%;
    background-color: #dbc2a4;
    position: absolute;
    top: 1%;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#tabulation1{
    box-sizing: border-box;
    width: 100%;
    color: aliceblue;
    position: absolute;
    top: 13%;
    text-align: justify;
    text-indent: 40px;
    padding-left: 7%;
    font-family: "Relaway", serif;
}
#divers2{
    width: 95%;
    height: 5%;
    background-color: #dbc2a4;
    position: absolute;
    top: 53%;
    left: 0;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#langues{
    color: aliceblue;
    position: absolute;
    top: 61%;
    font-family: "Relaway", serif;
}
#divers3{
    width: 95%;
    height: 5%;
    background-color: #dbc2a4;
    position: absolute;
    top: 74%;
    left: 0;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#loisir{
    color: aliceblue;
    position: absolute;
    top: 82%;
    font-family: "Relaway", serif;
}

/* Mes contacts */
#section3{
    height: 72%;
    width: 788px;
    background-color: rgb(250, 238, 220);
    position: absolute;
    top: 31%;
    left: 37%;
    display: flex;
    flex-direction: column;
}
/* Expériences pro */
#info1{
    width: 742px;
    height: 4%;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    position: absolute;
    top: 0;
    left: 3%;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#poste1{
    width: 758px;
    height: 20%;
    position: absolute;
    top: 10%;
    left: 3%;
    font-family: "Relaway", serif;
}
#mission1{
    position: absolute;
    top: 27px;
}
#poste2{
    width: 758px;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 3%;
    font-family: "Relaway", serif;
}
#mission2{
    position: absolute;
    top: 27px;
}

/* Diplômes */
#info2{
    width: 742px;
    height: 4%;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    position: absolute;
    top: 47%;
    left: 3%;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#diplome1{
    width: 758px;
    position: absolute;
    top: 54%;
    left: 3%;
    font-family: "Relaway", serif;
}
#diplome2{
    width: 758px;
    position: absolute;
    top: 66%;
    left: 3%;
    font-family: "Relaway", serif;
}

/* competences */
#info3{
    width: 742px;
    height: 4%;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    position: absolute;
    top: 78%;
    left: 3%;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#competence{
    width: 718px;
    position: absolute;
    top: 85%;
    left: 3%;
    font-family: "Relaway", serif;
}
#poste1:hover, #poste2:hover{
    border-right: 6px solid rgb(124, 34, 34);
}
#competence:hover, #diplome1:hover, #diplome2:hover, #poste1:hover, #poste2:hover{
    border-right: 6px solid rgb(124, 34, 34);
}

/* Liens réeaux sociaux */
#section4{
    height: 60px;
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 794px;
    left: 42%;
}
#reseau1:hover, #reseau2:hover, #reseau3:hover{
    opacity: 0.70;   
}
#reseau1{
    width: 27px;
    height: 27px;
    position: absolute;
    top: -12px;
    left: 28px;
}
#reseau2{
    width: 27px;
    height: 27px;
    position: absolute;
    top: -12px;
    left: 88px;
}
#reseau3{
    width: 27px;
    height: 27px;
    position: absolute;
    top: -12px;
    left: 138px;
}
#reseau4{
    font-family: "Relaway", serif;
    color: aliceblue;
    position: absolute;
    top: 20px;
    margin-left: 28px;
}
#imag1, #imag2, #imag3{
    width: 100%;
    height: 100%;
}


