/* Police Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Police Relaway */
@font-face{
    font-family: "Relaway";
    src: url('../Font-Relaway/Raleway-VariableFont_wght.woff');
    src: url('../Font-Relaway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('../Font-Relaway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#global{
    border-right: 1px solid black;
    background-color: #782221;
    width: 1160px;
    height: 840px;
}

#section1{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;  
}

figure{
    width: 110px;
    height: 110px;
    margin-top: 1%;
    margin-bottom: 0px;
}
#image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 70%;
    box-shadow: 0 0 5px #d8dad2;
}
#image1:hover{
    cursor: zoom-in;
}
#global #section1 #nom{
    font-size: large;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
#global #section1 #domaine{
    font-size: smaller;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
} 
#contacts{
    height: 17%;
    width: 100%;
    background-color: #2c1d27;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Relaway", serif;
    font-style: italic;
}
#adresse a, #email a, #num-telephone a{
    color: aliceblue;
}
#adresse:hover, #email:hover, #num-telephone:hover{
    text-decoration: underline;
}
#adresse, #email, #num-telephone{
    font-size: small;
}
#adresse{
    width: 120px;
    margin-left: 20px;
}
#email{
    margin-left: -50px;
}
#num-telephone{
    margin-right: 20px;
}

/* Divers */
#section2{
    height: 62%;
    width: 324px;
    float: left;
}
#divers1{
    width: 100%;
    height: 4%;
    box-sizing: border-box;
    background-color: #dbc2a4;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 15px;
}
#tabulation1{
    box-sizing: border-box;
    width: 100%;
    color: aliceblue;
    text-align: justify;
    text-indent: 40px;
    padding-left: 7%;
    font-family: "Relaway", serif;
    font-size: small;
}
#divers2{
    width: 100%;
    height: 4%;
    box-sizing: border-box;
    background-color: #dbc2a4;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-top: 25px;
    margin-bottom: 15px;
}
#langues{
    color: aliceblue;
    font-family: "Relaway", serif;
    font-size: small;
}
#divers3{
    width: 100%;
    height: 4%;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #dbc2a4;
    padding-left: 7%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-top: 25px;
    margin-bottom: 15px;
}
#loisir{
    color: aliceblue;
    font-family: "Relaway", serif;
    font-size: small;
}

/* Mon parcours */
#section3{
    height: 58%;
    width: 788px;
    background-color: rgb(250, 238, 220);
    margin-left: 372px;
    padding-top: 0.1%;
}

/* Expériences pro */
#info1{
    width: 742px;
    height: 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    margin-left: 15px;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-bottom: 8px;
}
#poste1{
   margin-left: 15px;
}
#sous-poste1{
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: "Relaway", serif;
    font-size: small;
}
#annee1{
    margin-top: 2px;
    margin-bottom: 2.5px;
    font-family: "Relaway", serif;
    font-size: medium;
}
#mission1{
    margin-top: 0px;
    font-family: "Relaway", serif;
    font-size: small;
}
#poste2{
    margin-top: 10px;
    margin-left: 15px;
}
#sous-poste2{
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: "Relaway", serif;
    font-size: small;
}
#annee2{
    margin-top: 2px;
    margin-bottom: 2.5px;
    font-family: "Relaway", serif;
    font-size: medium;
}
#mission2{
    margin-top: 0px;
    font-family: "Relaway", serif;
    font-size: small;
}

/* Diplômes */
#info2{
    width: 742px;
    height: 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    margin-left: 15px;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-bottom: 8px;
}
#diplome1{
    margin-left: 15px;
    margin-bottom: 6px;
}
#sous-diplome1{
    margin-top: 0px;
    font-family: "Relaway", serif;
    font-size: small;
    margin-bottom: 4px;
}
#ecole1{
    margin-top: 2px;
    font-family: "Relaway", serif;
    font-size: medium;
}
#diplome2{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 4px;
}
#sous-diplome2{
    margin-top: 0px;
    font-family: "Relaway", serif;
    font-size: small;
    margin-bottom: 4px;
}
#ecole2{
    margin-top: 2px;
    font-family: "Relaway", serif;
    font-size: medium;
}

/* competences */
#info3{
    width: 742px;
    height: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #dbc2a4;
    border-left: 3px solid rgb(124, 34, 34);
    margin-left: 15px;
    padding-left: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    margin-bottom: 8px;
}
#competence{
    margin-top: 5px;
    font-family: "Relaway", serif;
    font-size: small;
    margin-bottom: 3px;
}
#poste1:hover, #poste2:hover{
    border-right: 6px solid rgb(124, 34, 34);
}
#competence:hover, #diplome1:hover, #diplome2:hover, #poste1:hover, #poste2:hover{
    border-right: 6px solid rgb(124, 34, 34);
}

/* Liens réeaux sociaux */
#section4{
    height: 60px;
    width: 270px;
    margin-top: 3px;
    margin-left: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#reseau1:hover, #reseau2:hover, #reseau3:hover{
    opacity: 0.70;   
}
#reseau1{
    width: 27px;
    height: 27px;
    margin-left: 30%;
    margin-right: 5px;
}
#reseau2{
    width: 27px;
    height: 27px;
    margin-left: 5px;
    margin-right: 5px;
}
#reseau3{
    width: 27px;
    height: 27px;
    margin-left: 5px;
}
#reseau4{
    margin-top: 8px;
    font-family: "Relaway", serif;
    color: aliceblue;
    margin-left: 10px;
    
}
#imag1, #imag2, #imag3{
    width: 100%;
    height: 100%;
}


